/* Header Begin */
.header-wraper {
  width: 100%;
  background-color: white;
  min-width: 940px;
}

.container {
  width: 940px;
  margin: auto;
}

.top-header {
  padding-top: 20px;
  background-color: #7dd9e8;
  height: 68px;
}

.search-btn {
  width: 55px;
  height: 22px;
}

.search-bar {
  width: 268px;
  height: 20px;
}

/* Header end */

/* navbar begin */
.navbar-wrapper {
  width: 100%;
  background-color: #f5f5f5;
}

/* navbar end */

/* aside begin */
.content-wrapper {
  padding: 30px 0;
}

.left-content {
  width: 195px;
}

.left-content,
.right-content {
  height: 650px;
}

/* aside end*/

/* footer begin */

.footer-wrapper {
  width: 100%;
}

/* footer end */

/* center begin */
.center-wraper {
  width: 520px;
  height: 650px;
  margin-left: 32px;
  background-color: #ffffff;
}

.entries-left,
.entries-right {
  width: 50%;
}
.entries-title {
  height: 35px;
}

.entries-body {
  height: 66px;
}
/* center end */
